<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script> 
    </head>
    <body>
        <%- include('header') %>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <div id="dropin" class="container-fluid">
            <div class="row">
                <div class="col-1">REPOSITORY</div>
                <div class="col-1">TAG</div>
                <div class="col-1">IMAGE ID</div>
            </div>
        </div>
        <%- include('footer') %>
        <script>
            $(function() {
                $.ajax({
                    url: '/docker/images',
                    dataType: 'json',
                    success: function (result) {
                        // REPOSITORY-TAG-IMAGE ID-CREATED-SIZE
                        var c = result.images.length;
                        c = 0;
                        for (var i = 0; i < c; i++) {
                            $('#dropin').append(
                                '<div class="row">'+
                                '<div class="col-1">'+result.images[i][1]+'</div>'+
                                '<div class="col-1">'+result.images[i][2]+'</div>'+
                                '</div>');
                        }
                    }
                });
            });
        </script>
    </body>
</html>
